<extend name="./Application/Sysmanage/View/Master/index.html" />

<block name="beginjs">
	<load href="/Public/sysmanage/css/bootstrap.min.css" />
    <load href="/Public/sysmanage/css/bootstrap-responsive.min.css" />
    <load href="/Public/sysmanage/css/colorpicker.css" />
    <load href="/Public/sysmanage/css/datepicker.css" />
    <load href="/Public/sysmanage/css/uniform.css" />
    <load href="/Public/sysmanage/css/select2.css" />
    <load href="/Public/sysmanage/css/unicorn.main.css" />
    <load href="/Public/sysmanage/css/unicorn.grey.css" class="skin-color" />
    <load href="/Public/sysmanage/js/jquery.min.js" />

    <script type="text/javascript">
        function CheckForm() {
        	var paixu=$("#paixu").val();
            if ($.trim(paixu) == "") {
            	alert("请填写排序！");
                $("#paixu").focus();
                return false;
            }
            else if (isNaN(paixu)) {
                alert("排序号必须为数字！");
                $("#paixu").select();
                return false;
            }
        }

        //flag为图片的字段名，dis为上传页面的提示
        function uploadpic(flag,width,height,dis) {
            winopenforapply("uploadpic", "上传图片", "__APP__/Sysmanage/Uploadpic/?width="+width+"&height="+height+"&dis="+dis+"&flag=" + flag+"&upflag=2", 400, 145);
        }

    </script>
</block>

<block name="left"><include file="./Application/Sysmanage/View/Leftbar/index.html" flag='guide' /></block>

<block name="containerheader">
<div id="breadcrumb">
        <a href="{:U('Home/index')}" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a><a href="{:U('Guide/index')}" class="current">引导图列表</a><a href="#" class="current"><if condition="$action eq 'upd'">修改引导图<else/>添加引导图</if></a>
    </div>

</block>

<block name="containerinfo">
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>
                            <a href="{:U('Guide/index')}">引导图列表</a></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="__URL__/addsend/action/{$action}/id/{$id}/p/{$p}" method="post" class="form-horizontal"
                        name="yuziform" id="yuziform">

                        <div class="control-group">
                            <label class="control-label">
                                android引导图：</label>
                            <div class="controls">
                            	<img id='android_pic_img' src=<eq name="guide_info.android_pic" value="">"/Public/sysmanage/img/empty.png"<else/>"{$guide_info.android_pic}"</eq>  style="width:150px;" alt="" />&nbsp;&nbsp;<button type="button" class="btn btn-primary" onclick="uploadpic('android_pic',600,254,'图片建议尺寸为600*254，文件小于3M');">上传图片</button>
                            	<span class="help-block">图片建议尺寸为600*254，文件小于3M</span>
                            	<input type="hidden" id="android_pic" name="android_pic" value="{$guide_info.android_pic}"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">
                                ios图（640*960）：</label>
                            <div class="controls">
                            	<img id='ios_960_img' src=<eq name="guide_info.ios_960" value="">"/Public/sysmanage/img/empty.png"<else/>"{$guide_info.ios_960}"</eq>  style="width:150px;" alt="" />&nbsp;&nbsp;<button type="button" class="btn btn-primary" onclick="uploadpic('ios_960',600,254,'图片建议尺寸为640*960，文件小于3M');">上传图片</button>
                            	<span class="help-block">图片建议尺寸为640*960，文件小于3M</span>
                            	<input type="hidden" id="ios_960" name="ios_960" value="{$guide_info.ios_960}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                ios图（640*1136）：</label>
                            <div class="controls">
                            	<img id='ios_1136_img' src=<eq name="guide_info.ios_1136" value="">"/Public/sysmanage/img/empty.png"<else/>"{$guide_info.ios_1136}"</eq>  style="width:150px;" alt="" />&nbsp;&nbsp;<button type="button" class="btn btn-primary" onclick="uploadpic('ios_1136',600,254,'图片建议尺寸为640*1136，文件小于3M');">上传图片</button>
                            	<span class="help-block">图片建议尺寸为640*1136，文件小于3M</span>
                            	<input type="hidden" id="ios_1136" name="ios_1136" value="{$guide_info.ios_1136}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                ios图（750*1334）：</label>
                            <div class="controls">
                            	<img id='ios_1334_img' src=<eq name="guide_info.ios_1334" value="">"/Public/sysmanage/img/empty.png"<else/>"{$guide_info.ios_1334}"</eq>  style="width:150px;" alt="" />&nbsp;&nbsp;<button type="button" class="btn btn-primary" onclick="uploadpic('ios_1334',600,254,'图片建议尺寸为750*1334，文件小于3M');">上传图片</button>
                            	<span class="help-block">图片建议尺寸为750*1334，文件小于3M</span>
                            	<input type="hidden" id="ios_1334" name="ios_1334" value="{$guide_info.ios_1334}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                ios图（1242*2208）：</label>
                            <div class="controls">
                            	<img id='ios_2208_img' src=<eq name="guide_info.ios_2208" value="">"/Public/sysmanage/img/empty.png"<else/>"{$guide_info.ios_2208}"</eq>  style="width:150px;" alt="" />&nbsp;&nbsp;<button type="button" class="btn btn-primary" onclick="uploadpic('ios_2208',600,254,'图片建议尺寸为1242*2208，文件小于3M');">上传图片</button>
                            	<span class="help-block">图片建议尺寸为1242*2208，文件小于3M</span>
                            	<input type="hidden" id="ios_2208" name="ios_2208" value="{$guide_info.ios_2208}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                排序：</label>
                            <div class="controls">
                            	<input type="text" id="paixu" name="paixu" value='{$guide_info.orderby}' maxlength="4" onkeyup="value=value.replace(/[^\d]/g,'')" />
                                <span class="help-block">必填，必须为数字</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" onclick="return CheckForm(this);">
                                保存</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="endjs">
	<load href="/Public/sysmanage/js/jquery.ui.custom.js" />
    <load href="/Public/sysmanage/js/bootstrap.min.js"/>
    <load href="/Public/sysmanage/js/jquery.uniform.js"/>
    <load href="/Public/sysmanage/js/bootstrap-colorpicker.js"/>
    <load href="/Public/sysmanage/js/bootstrap-datepicker.js"/>
    <load href="/Public/sysmanage/js/select2.min.js"/>
    <load href="/Public/sysmanage/js/unicorn.js"/>
    <load href="/Public/sysmanage/js/unicorn.form_common.js"/>
    <load href="/Public/sysmanage/js/lhgcore.min.js"/>
    <script src="/Public/sysmanage/js/lhgdialog.min.js?s=facebook" type="text/javascript"></script>
    <load href="/Public/sysmanage/js/mydialog.min.js"/>
</block>


