<extend name="./Application/Sysmanage/View/Master/index.html" />

<block name="beginjs">
	<load href="/Public/sysmanage/css/bootstrap.min.css" />
    <load href="/Public/sysmanage/css/bootstrap-responsive.min.css" />
    <load href="/Public/sysmanage/css/colorpicker.css" />
    <load href="/Public/sysmanage/css/datepicker.css" />
    <load href="/Public/sysmanage/css/uniform.css" />
    <load href="/Public/sysmanage/css/select2.css" />
    <load href="/Public/sysmanage/css/unicorn.main.css" />
    <load href="/Public/sysmanage/css/unicorn.grey.css" class="skin-color" />
</block>

<block name="left"><include file="./Application/Sysmanage/View/Leftbar/index.html" flag='admin' /></block>

<block name="containerheader">
<div id="breadcrumb">
        <a href="{:U('Home/index')}" title="返回首页" class="tip-bottom"><i class="icon-home">
        </i> 首页</a><a href="{:U('Admin/index')}" class="current">管理员列表</a>
    </div>
</block>

<block name="containerinfo">
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <eq name='adminname' value='admin'>
                        <h5><a href="__URL__/adminadd">添加管理员</a></h5>
						</eq>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        管理员登陆帐号
                                    </th>
                                    <th>
                                        手机号码
                                    </th>
                                    <th>
                                        角色
                                    </th>
                                    <th>
                                        创建时间
                                    </th>
                                    <!-- <th>
                                        更新时间
                                    </th> -->
                                    <th>
                                        登陆IP
                                    </th>
                                    <th>
                                        最近登陆时间
                                    </th>
                                    <th style="width: 70px">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
								<volist name="list" id="admin" empty="暂时没有数据">
                                <tr>
                                    <td>
										{$admin.username}
                                    </td>
                                    <td>
                                        {$admin.mobile}
                                    </td>
                                    <td>
                                        {$admin.role}
                                    </td>
                                    <td>
                                        {$admin.indbdate}
                                    </td>
                                    <td>
                                        {$admin.loginip}
                                    </td>
                                    <td>
                                        <!-- {$admin.logindate|date='Y-m-d H:i:s',###} -->
                                        {$admin.logindate}
                                    </td>
                                    <td>

                                        <a href="__URL__/adminadd/action/upd/id/{$admin.id}/p/{$p}">修改</a>&nbsp;&nbsp;
										<eq name="adminname" value="admin">
										<neq name="admin.username" value="admin">
                                        <a
                                            href="__URL__/admindel/id/{$admin.id}/p/{$p}" onclick="return confirm('确定要删除该管理员吗？');">删除</a>
                                           </neq>
										   </eq>
                                    </td>
                                </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
					<div class="pagination alternate" style="text-align: center; vertical-align: middle">
                    {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="endjs">
	<load href="/Public/sysmanage/js/jquery.min.js" />
	<load href="/Public/sysmanage/js/jquery.ui.custom.js" />
    <load href="/Public/sysmanage/js/bootstrap.min.js"/>
    <load href="/Public/sysmanage/js/jquery.uniform.js"/>
    <load href="/Public/sysmanage/js/bootstrap-colorpicker.js"/>
    <load href="/Public/sysmanage/js/bootstrap-datepicker.js"/>
    <load href="/Public/sysmanage/js/select2.min.js"/>
    <load href="/Public/sysmanage/js/unicorn.js"/>
    <load href="/Public/sysmanage/js/unicorn.form_common.js"/>
    <load href="/Public/sysmanage/js/lhgcore.min.js"/>
    <script src="/Public/sysmanage/js/lhgdialog.min.js?s=facebook" type="text/javascript"></script>
    <load href="/Public/sysmanage/js/mydialog.min.js"/>
</block>


