<!DOCTYPE html>

<html>
<head>
    <title>美房网后台管理系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <load href="/Public/sysmanage/css/bootstrap.min.css" />
    <load href="/Public/sysmanage/css/bootstrap-responsive.min.css" />
    <load href="/Public/sysmanage/css/unicorn.main1.css" />
    <block name="beginjs"></block>
</head>
<body>
<div id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                    	<block name="containerinfo"></block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>